body {
    /*area de tirar margem*/
    margin: 0;
    padding:0;
    width: 100%;
    height: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }


  header {
    background-color:  rgb(79, 53, 119);
    height: 120px;
  }
  
  .display{
    display: flex;
    justify-content: center;
  } 
  Header ul {
  
      display: flex;
      margin-left: 50px;
      margin-top: 50px;
      justify-content: center;
      text-align: center; 
      align-items: center;
      
  }
  Header ul li{
      margin-left: 100px;
      margin-bottom: 35px;
      list-style: none;
  }
  header ul li a{
      text-decoration: none;
      font-family: monospace;
      color: rgb(21, 9, 31);
      font-size: 20px;
      font-weight: 700;
      transition: color 0.3s;
      
  }
  header ul li a:hover{
      color: rgb(203, 163, 255);
      
  }
  .logo {
     text-align: center;
     justify-content: center;
     align-items: center;
  }
  .logo h1{
      color: rgb(33, 15, 48);
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 60px;
      margin-left: 10px;
      margin-top: 20px;
  }